{% extends "base.html" %}

{% block title %}Process theses{% endblock %}

{% block navlinks %}
<li><a href="/">Overview</a></li>
<li class="active"><a href="/process_theses/">Process theses</a></li>
<li><a href="/daily/">Daily</a></li>


<li><a href="/write/">Write</a></li>

{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row toolbar-pf">
        <div class="col-sm-12">
            <form class="toolbar-pf-actions">
                <div class="form-group toolbar-pf-filter">
                    <h3>Filter by closure date</h3>
                    <label class="control-label sr-only" for="start_date">Start date</label>
                    <div class="input-group date" data-date-format="yyyy-mm-dd">
                        <span class="input-group-addon" style="float:left; width:100%;">Start date</span><input type="text" name="start_date" id="start_date" class="form-control bootstrap-datepicker" readonly><span class="input-group-addon"><span class="fa fa-calendar"></span></span>
                    </div>
                    <label class="control-label sr-only" for="end_date">End date</label>
                    <div class="input-group date" data-date-format="yyyy-mm-dd">
                        <span class="input-group-addon" style="float:left; width:100%;">End date</span><input type="text" name="end_date" id="end_date" class="form-control bootstrap-datepicker" readonly><span class="input-group-addon"><span class="fa fa-calendar"></span></span>
                    </div>
                    <button class="btn btn-default" type="submit">Filter</button>
                    <!--<label class="sr-only" for="filter">Start date</label>-->
                    <!--<div class="input-group">-->
                        <!--<div class="input-group-btn">-->
                            <!--<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Name <span class="caret"></span></button>-->
                            <!--<ul class="dropdown-menu">-->
                                <!--<li><a href="#">Action</a></li>-->
                                <!--<li><a href="#">Another action</a></li>-->
                                <!--<li><a href="#">Something else here</a></li>-->
                                <!--<li role="separator" class="divider"></li>-->
                                <!--<li><a href="#">Separated link</a></li>-->
                            <!--</ul>-->
                        <!--</div>&lt;!&ndash; /btn-group &ndash;&gt;-->
                        <!--<input type="text" class="form-control" id="filter" placeholder="Filter By Name...">-->
                    <!--</div>&lt;!&ndash; /input-group &ndash;&gt;-->
                </div>
                <!--<div class="form-group">-->
                    <!--<button class="btn btn-default" type="button">Action</button>-->
                    <!--<button class="btn btn-default" type="button">Action</button>-->
                    <!--<div class="dropdown btn-group  dropdown-kebab-pf">-->
                        <!--<button class="btn btn-link dropdown-toggle" type="button" id="dropdownKebab" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">-->
                            <!--<span class="fa fa-ellipsis-v"></span>-->
                        <!--</button>-->
                        <!--<ul class="dropdown-menu " aria-labelledby="dropdownKebab">-->
                        <!--<li><a href="#">Action</a></li>-->
                        <!--<li><a href="#">Another action</a></li>-->
                        <!--<li><a href="#">Something else here</a></li>-->
                        <!--<li role="separator" class="divider"></li>-->
                        <!--<li><a href="#">Separated link</a></li>-->
                        <!--</ul>-->
                    <!--</div>-->

                <!--</div>-->
                <!--<div class="toolbar-pf-action-right">-->
                <div class="form-group">
                    <h3>Alerts</h3>
                    {% with messages = get_flashed_messages(with_categories=true) %}
                        {% if messages %}
                            {% for category, message in messages %}
                                {% if category == 'success' %}
                                    <div class="alert alert-success">
                                        {{ message }}
                                    </div>
                                {% else %}
                                    <div class="alert alert-danger">
                                        {{ message }}
                                    </div>
                                {% endif %}
                                <!--<li class="{{ category }}">{{ message }}</li>-->
                            {% endfor %}
                        {% endif %}
                    {% endwith %}
                </div>
                    <!--<div class="form-group toolbar-pf-view-selector">-->
                        <!--<button class="btn btn-link"><i class="fa fa-th"></i></button>-->
                        <!--<button class="btn btn-link active"><i class="fa fa-th-large"></i></button>-->
                        <!--<button class="btn btn-link"><i class="fa fa-th-list"></i></button>-->
                    <!--</div>-->
                <!--</div>-->
            </form>
            <div class="row toolbar-pf-results">
                <div class="col-sm-12">
                    <h5>{{ works_import|get_length + works_update|get_length + works_delete|get_length}} Results</h5>
                    <p>Possible actions:</p>
                    <ul class="list-inline">
                        <li>
                            <!--<span class="label label-info">-->
                                <!--Name: nameofthething-->
                                <!--<a href="#"><span class="pficon pficon-close"></span></a>-->
                            <!--</span>-->

                            <button class="btn btn-default" value="{{ works_process_dict }}">Process all</button>

                        </li>
                        <li>
                            <!--<span class="label label-info">-->
                                <!--Name: nameofthething-->
                                <!--<a href="#"><span class="pficon pficon-close"></span></a>-->
                            <!--</span>-->
                            <button class="btn btn-default">Process all selected</button>
                        </li>
                        <!--<li>-->
                            <!--<span class="label label-info">-->
                                <!--Name: nameofthething-->
                                <!--<a href="#"><span class="pficon pficon-close"></span></a>-->
                            <!--</span>-->
                        <!--</li>-->
                    </ul>
                    <!--<p><a href="#">Clear All Filters</a></p>-->
                </div><!-- /col -->
            </div><!-- /row -->
        </div><!-- /col -->
    </div><!-- /row -->
</div><!-- /container -->
<script>
(function($) {
$(document).ready(function() {
  // Upon clicking the find button, show the find dropdown content
  $(".btn-find").click(function () {
    $(".find-pf-dropdown-container").toggle();
  });
  // Upon clicking the find close button, hide the find dropdown content
  $(".btn-find-close").click(function () {
    $(".find-pf-dropdown-container").hide();
  });

});
})(jQuery);
</script>

<div class="container-fluid">
    {% for work_import in works_import %}
    <div class="list-group list-view-pf">
        <div class="list-group-item">
            <div class="list-view-pf-checkbox">
                <input type="checkbox">
            </div>
            <div class="list-view-pf-actions">
                <a href="{{ url_for('process_one_work', did=work_import.did, process='import') }}">
                    <button class="btn btn-default" type="submit" name="work_obj" value="{{ work_import|to_list }}">Process</button>
                </a>
            </div>
            <div class="list-view-pf-main-info">
                <div class="list-view-pf-left">
                    <span class="fa fa-plane list-view-pf-icon-sm" title="{{ work_import.dnazev }}"></span>
                </div>
                <div class="list-view-pf-body">
                    <div class="list-view-pf-description">
                        <div class="list-group-item-heading">
                            {{ work_import.dnazev|truncate_string }}
                        </div>
                        <div class="list-group-item-text">
                            {{ work_import.ddfinalizace }}
                            <br>
                            process:<strong>import</strong>
                        </div>
                        <!--<div class="list-group-item-text">-->
                            <!--The following snippet of text is <a href="#">rendered as link text</a>.-->
                        <!--</div>-->
                    </div>
                    <div class="list-view-pf-additional-info">
                        <div class="list-view-pf-additional-info-item">
                            <span class="pficon pficon-screen"></span>
                            <a href="#">
                                <strong>metadata</strong> information
                            </a>
                        </div>
                        <div class="list-view-pf-additional-info-item">
                            <span class="pficon pficon-cluster"></span>
                            <a href="#">
                                <strong>files</strong> information
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
    {% for work_update in works_update %}
    <div class="list-group list-view-pf">
        <div class="list-group-item">
            <div class="list-view-pf-checkbox">
                <input type="checkbox">
            </div>
            <div class="list-view-pf-actions">
                <a href="{{ url_for('process_one_work', did=work_update.did, process='update') }}">
                    <button class="btn btn-default" type="submit" name="work_obj" value="{{ work_update|to_list }}">Process</button>
                </a>
            </div>
            <div class="list-view-pf-main-info">
                <div class="list-view-pf-left">
                    <span class="fa fa-plane list-view-pf-icon-sm" title="{{ work_update.dnazev }}"></span>
                </div>
                <div class="list-view-pf-body">
                    <div class="list-view-pf-description">
                        <div class="list-group-item-heading">
                            {{ work_update.dnazev|truncate_string }}
                        </div>
                        <div class="list-group-item-text">
                            {{ work_update.ddfinalizace }}
                            <br>
                            process:<strong>update</strong>
                        </div>
                        <!--<div class="list-group-item-text">-->
                            <!--The following snippet of text is <a href="#">rendered as link text</a>.-->
                        <!--</div>-->
                    </div>
                    <div class="list-view-pf-additional-info">
                        <div class="list-view-pf-additional-info-item">
                            <span class="pficon pficon-screen"></span>
                            <a href="#">
                                <strong>metadata</strong> information
                            </a>
                        </div>
                        <div class="list-view-pf-additional-info-item">
                            <span class="pficon pficon-cluster"></span>
                            <a href="#">
                                <strong>files</strong> information
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
    {% for work_delete in works_delete %}
    <div class="list-group list-view-pf">
        <div class="list-group-item">
            <div class="list-view-pf-checkbox">
                <input type="checkbox">
            </div>
            <div class="list-view-pf-actions">
                <a href="{{ url_for('process_one_work', did=work_delete.did, process='delete') }}">
                    <button class="btn btn-default" type="submit" name="work_obj" value="{{ work_delete|to_list }}">Process</button>
                </a>
            </div>
            <div class="list-view-pf-main-info">
                <div class="list-view-pf-left">
                    <span class="fa fa-plane list-view-pf-icon-sm" title="{{ work_delete.dnazev }}"></span>
                </div>
                <div class="list-view-pf-body">
                    <div class="list-view-pf-description">
                        <div class="list-group-item-heading">
                            {{ work_delete.dnazev|truncate_string }}
                        </div>
                        <div class="list-group-item-text">
                            {{ work_delete.ddfinalizace }}
                            <br>
                            process:<strong>delete</strong>
                        </div>
                        <!--<div class="list-group-item-text">-->
                            <!--The following snippet of text is <a href="#">rendered as link text</a>.-->
                        <!--</div>-->
                    </div>
                    <div class="list-view-pf-additional-info">
                        <div class="list-view-pf-additional-info-item">
                            <span class="pficon pficon-screen"></span>
                            <a href="#">
                                <strong>metadata</strong> information
                            </a>
                        </div>
                        <div class="list-view-pf-additional-info-item">
                            <span class="pficon pficon-cluster"></span>
                            <a href="#">
                                <strong>files</strong> information
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
    <script>
      // Row Checkbox Selection
      $(document).ready(function () {
        $("input[type='checkbox']").change(function (e) {
          if ($(this).is(":checked")) {
            $(this).closest('.list-group-item').addClass("active");
          } else {
            $(this).closest('.list-group-item').removeClass("active");
          }
        });
      });
    </script>
</div>

<script>
$('.input-group.date').datepicker({
 autoclose: true,
 todayBtn: "linked",
 todayHighlight: true
});
</script>
{% endblock %}