## INI file other the config/example.ini
*.ini
!example.ini

postgres-*
!postgres-passwd.example

## output directory
output/

## Ignore projects files created by IntelliJ IDEA
*.iml
*.ipr
*.iws
.idea/
.overlays/
## Ignore project files created by VSCode
.vscode/

## Ignore *.pyc files
*.pyc

## Vim
*~
*.swp

## bak files
*.bak

unitfile
